<!DOCTYPE html>
<html>
<head>
    <title>Secure Certificate Verification</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar">
    <div class="logo">🔐 CertChain</div>

    <div>
        <a href="/">Home</a>
        <a href="/issue">Issue</a>
        <a href="/verify">Verify</a>
    </div>
</nav>

<div class="container">

    <section class="hero">

        <h1>Secure <span>Academic Certificate</span> Verification</h1>

        <p>
            Blockchain and SHA-256 Hashing Based
            Certificate Authentication System
        </p>

        <a href="/issue" class="btn">
            <button>Issue Certificate</button>
        </a>

        <a href="/verify" class="btn">
            <button>Verify Certificate</button>
        </a>

    </section>

</div>

<div class="footer">
    Secure Certificate Verification System © 2026
</div>

</body>
</html>
